.SliderContainer{
    position: relative;
}

.slideOver{
    width:75%;
    height:10px;
    position:absolute;
    background-color: green;
    border-radius: 5px;
    z-index: 10;
}

.slideUnder{
    position: absolute;
    background-color: blue;
    height:10px;
    width:100%;
    border-radius: 5px;
}

.sliderHandle{
    width: 20px;
    height: 20px;
    background-color: brown;
    border-radius: 20px;
    position: absolute;
    top: -5px;
    z-index: 10;
}


/** SliderPopUp CSS */
.horizontal-sliderpopup-container .sliderpopup-value{
    position: absolute;
    background: #000;
    width: 40px;
    height: 25px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    top: -20px;
    color : #ffc524;
    pointer-events: none;
}
    
.horizontal-sliderpopup-container .sliderpopup-value:before{
    content: "";
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-top: 8px solid #000;
    position: absolute;
    width: 0px;
    display: block;
    bottom: -14px;
    top: auto;
}